/* styles.css */
#Buttons{
    display:inline-flexbox;
    background-color: #4CAF50;
    align-items: center;
    text-align: center;
    padding: 0%;    
}
/* Style for the buttons */
#bufferButton{
    display: inline-flex;
    border: 2px;
    border-radius: 20px; /* Adjust the value to control the roundness */
    padding: 10px 20px;
    background-color: #4CAF50; /* Popping color */
    color: rgb(17, 16, 16); /* Text color */
    font-size: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#midpointButton{
    display: inline-flex;
    border: none;
    border-radius: 20px; /* Adjust the value to control the roundness */
    padding: 10px 20px;
    background-color: #4CAF50; /* Popping color */
    color: rgb(17, 17, 17); /* Text color */
    font-size: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#resetButton{
    display: inline-flex;
    border: none;
    border-radius: 20px; /* Adjust the value to control the roundness */
    padding: 10px 20px;
    background-color: #4CAF50; /* Popping color */
    color: rgb(15, 15, 15); /* Text color */
    font-size: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}
/* Hover effect for the buttons */
#bufferButton:hover {
    background-color: #a0456b; /* Darker shade of popping color */
}

#midpointButton:hover {
    background-color: #a0456b; /* Darker shade of popping color */
}

#resetButton:hover {
    background-color: #a0456b; /* Darker shade of popping color */
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}
/* Custom styles for the Bootstrap navbar */
.navbar {
    background-color: rgb(61, 94, 94);
}
.navbar-nav{
    display: flex;
    align-self: auto;
}
 .nav-link {
    color: #f7f1f6;
}

.navbar-brand:hover,
.navbar-nav .nav-link:hover {
    color: #24ee9a;
}

.navbar-toggler-icon {
    background-color: #cf7474;
}

.navbar-toggler {
    border-color: #fff;
}

/* Style for the dropdown menu */
.dropdown-menu {
    background-color: #343a40;
}

.dropdown-item {
    color: #64e01c;
}

.dropdown-item:hover {
    background-color: #d3ebac;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

#map {
    width: 100%;
    height: 100%;
    border: 1px solid #0f0f0f;
}


/* Sticky footer styles */
.footer {
    margin: 0;
    padding: 0%;
    width: 100%;
    background-color: rgb(67, 97, 97);
    color: white;
    text-align: center;
 }

 
