/* styles.css */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}
/* Custom styles for the Bootstrap navbar */
.navbar {
    background-color: #4addf0;
}
.navbar-nav{
    display: flex;
    align-self: auto;
}
 .nav-link {
    color: #9b1184;
}

.navbar-brand:hover,
.navbar-nav .nav-link:hover {
    color: #085e59;
}

.navbar-toggler-icon {
    background-color: #cf7474;
}

.navbar-toggler {
    border-color: #fff;
}

/* Style for the dropdown menu */
.dropdown-menu {
    background-color: #343a40;
}

.dropdown-item {
    color: #64e01c;
}

.dropdown-item:hover {
    background-color: #d3ebac;
}
/*Header Styling*/
header {
    background-color: #bfebc4;
    color: #0f4c57;
    text-align: center;
    padding: 10px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

#map {
    width: 100%;
    height: 100%;
    border: 1px solid #0f0f0f;
}
/* Sticky footer styles */
footer {
    text-align: center;
    background-color: #dfa78e;
    color: #141414;
    padding: 10px;
}